[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "enhancer"]
	path = enhancer
	url = https://github.com/covaruber/enhancer
[submodule "evola"]
	path = evola
	url = https://github.com/covaruber/evola
[submodule "lme4breeding"]
	path = lme4breeding
	url = https://github.com/covaruber/lme4breeding
[submodule "sommer"]
	path = sommer
	url = https://github.com/covaruber/sommer
